
<h2>{{ name }}</h2>
<section class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="space-around center">
  <div fxFlex="100%" fxLayoutAlign="center center">
    <div fxFlex="25%" fxLayoutGap="10%" *ngFor="let t of transformer">
      <label for="">Name:</label>
      <h4>{{t.name}}</h4>
      <label for="">Group:</label>
      <h4>{{t.vehicleGroup}}</h4>
      <label for="">Type:</label>
      <h4>{{t.vehicleType}}</h4>
      <label for="">Model:</label>
      <h4>{{t.vehicleModel}}</h4>
      <label for="">Gear:</label>
      <h4>{{t.gear}}</h4>
      <label for="status">Current Status:{{ t.status }}</label><br>
      
        <select [(ngModel)]="currentStatus.id">
          <option *ngFor="let s of stat" [ngValue]="stat.id" >{{ s }}</option>
        </select>
    </div>
   </div>
  <div>
  		
  </div>
</section>


<!--p>You selected: {{group}}</p-->





